#card {
  background: linear-gradient(
    to right bottom,
    #ed00cc,
    #c722bf,
    #a32bae,
    #822e9c,
    #632c87,
    #533b8f,
    #434695,
    #335097,
    #176fb5,
    #008fcd,
    #00aee0,
    #00cdef
  );
  width: 100%;
  height: 350px;
  margin: 10% auto;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2), 0px 2px 6px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

#profile {
  width: 100%;
  height: 350px;
  border-radius: 8px;
}

#profile img {
  width: 100%;
  height: 70%;
  margin: 0 auto;
}

#profile h1 {
  color: white;
  font-family: 'Baloo Tamma 2', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-top: 0.5rem;
  padding-top: 0.25rem;
}

.front-text {
  font-size: 1.25rem;
  font-family: 'Baloo Tamma 2';
}

.back-text {
  font-size: 1.25rem;
  font-family: 'Montserrat';
  border-bottom: 0.1rem solid white;
  display: inline-block;
}

#profile .info a {
  color: rgba(255, 255, 255, 1);
  transition: color 0.4s;
  text-decoration: none;
}
#profile .info a:hover {
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.4s;
}

.info {
  text-align: center;
  margin: 0 auto;
  display: block;
  border-radius: 100px;
  background-position: center center;
  background-size: cover;
  transition: all 0.2s ease;
  z-index: 0;
}

.info.active {
  width: 100%;
  height: 200%;
  position: relative;
  top: -110%;
  background: linear-gradient(
    to right bottom,
    #ed00cc,
    #c722bf,
    #a32bae,
    #822e9c,
    #632c87,
    #533b8f,
    #434695,
    #335097,
    #176fb5,
    #008fcd,
    #00aee0,
    #00cdef
  );
  transition: width 0.1s ease, height 0.2s ease, top 0.2s ease,
    z-index 0.2s ease;
  z-index: 999;
}

.info .fa-info-circle {
  font-size: 1.5rem;
  padding-top: 0.75rem;
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.4s ease;
  display: block;
}

.info.active .fa-info-circle {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.4s ease;
}

.info .fa-angle-down {
  cursor: pointer;
  visibility: hidden;
}

.info.active .fa-angle-down {
  font-size: 1.5rem;
  position: relative;
  margin: 0 auto;
  visibility: visible;
  position: relative;
  top: 4rem;
  animation-name: visible;
  animation-duration: 0.3s;
  z-index: 1;
}

@keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.info-para {
  color: rgba(255, 255, 255, 1);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  padding: 0 0.6rem;
  line-height: 110%;
  font-weight: 400;
  text-align: justify;
  margin-top: 2.5rem;
  position: relative;
  top: 2rem;
}

.info-para h4 {
  font-family: 'Baloo Tamma 2';
  font-size: 1.5rem;
  padding: 0.25rem;
  border-bottom: 2px white dashed;
}

.info.active .container {
  visibility: visible;
  animation-name: entrance-first;
  animation-duration: 0.4s;
}

@keyframes entrance-first {
  from {
    top: 200px;
  }
  to {
    top: 32px;
  }
}

.mobile-head-text {
  display: none;
}

@media only screen and (max-width: 767px) {
  .col-space-class {
    margin-bottom: 2rem;
    margin-top: 0 !important;
  }
  .back-text {
    font-size: 0.7rem;
    border-bottom: 1.25px solid white;
  }
  .info-para {
    font-size: 0.75rem;
  }

  #profile h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .mobile-head-text {
    display: block;
  }
}
