.react-multiple-carousel__arrow--left {
	left: 1% !important;
}
.react-multiple-carousel__arrow--right {
	left: 96% !important;
}

.slick-dots li {
	display: inline-block;
	border-radius: 100%;
	width: 1rem;
	height: 1rem;
	margin: 0.675rem;
	text-indent: 0;
	cursor: pointer;
	border: none;
	background-image: linear-gradient(to right, #ed00cc, #3f2669, #3700af, #00cdef);
}

li.slick-active {
	display: inline-block;
	border-radius: 100%;
	width: 1rem;
	height: 1rem;
	margin: 0.675rem;
	text-indent: 0;
	cursor: pointer;
	border: none;
	background-image: linear-gradient(#fff, #e3e3e3) !important;
}

.slick-dots li button,
.slick-dots li button:hover,
.slick-dots li button:focus {
	width: 0 !important;
	height: 0 !important;
	border: 0;
	opacity: 0;
	padding: 0;
}

.events-logo {
	height: 5rem;
	width: 26rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: block;
}
.event-name {
	font-family: 'Baloo Tamma 2';
	color: white;
	font-size: 1.5rem;
	margin-bottom: 2.5rem;
}
.event-image {
	margin: 1rem;
	width: 50%;
	display: inline-block !important;
}
.slick-slide {
	opacity: 0.5;
}

.slick-current {
	opacity: 1;
	transform: scale(1.2, 1.2);
}
.slick-current img {
	width: 70%;
}

@media only screen and (max-width: 767px) {
	.event-image {
		margin: 1rem;
		/* width: 50%; */
	}
	.events-logo {
		height: 3rem;
		width: 15rem;
	}
	.event-name {
		font-size: 1rem;
	}
	.react-multiple-carousel__arrow--right {
		left: 86% !important;
	}
	.react-multiple-carousel__arrow--left {
		left: 4% !important;
	}
}
