.carousel-div {
  height: 20rem;
  color: white;
  margin: 0 3%;
  display: inline;
}
/* .carousel-item {} */

.carousel-indicators li {
  display: inline-block;
  border-radius: 100%;
  width: 1rem;
  height: 1rem;
  margin: 0.675rem;
  text-indent: 0;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #ed00cc,
    #3f2669,
    #3700af,
    #00cdef
  );
}

.carousel-indicators .active {
  width: 1rem;
  height: 1rem;
  background-image: linear-gradient(#fff, #e3e3e3) !important;
}

.carousel-control-prev,
.carousel-control-next {
  width: 3% !important;
}

.events-logo {
  height: 5rem;
  width: 26rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
}

.event-name {
  font-family: 'Baloo Tamma 2';
}

.event-image {
  margin: 1rem;
  height: 10rem;
  width: 8rem;
}
