.back-app {
  background-color: #000;
  color: #fff;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1.5rem;
}

.button-center {
  margin-left: calc(22.5%);
  margin-right: calc(22.5%);
}

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 400px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
