.app-logo {
  height: 6rem;
  width: 16rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
}

.app-image {
  height: 25rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mobile-app {
  display: none;
}

@media only screen and (max-width: 767px) {
  .mobile-app {
    display: block;
  }
  .laptop-app {
    display: none;
  }
  .back-app {
    font-size: 0.8rem;
  }
  .app-logo {
    width: 10.5rem;
    height: 4rem;
  }
  .app-image {
    height: 18rem;
    margin-bottom: 1rem;
  }
}
