.c {  position: absolute;
  max-width: 300px;
  max-height: 300px;
  width: 50ch;
  height: 50ch;
  cursor: pointer;
  will-change: transform, opacity;
}

.c1 {
  position: relative;
  max-width: 300px;
  max-height: 300px;
  width: 50ch;
  height: 50ch;
  cursor: pointer;
  will-change: transform, opacity;
  padding: 10px;
}
.front,
.back2 {
  background-size: cover;
}

/* .back2 {
  background-image: url(https://images.unsplash.com/photo-1544511916-0148ccdeb877?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1901&q=80i&auto=format&fit=crop);
} */

.front{
  background-image: linear-gradient(to right, #ed00cc, #3f2669, #3700af, #00cdef);
}

