.navbar {
	color: white !important;
	font-family: 'Baloo Tamma 2';
	font-size: 1.75rem;
	font-weight: 700;
	opacity: 1;
	transition: opacity 0.5s ease;
}

.navbar-hide {
	pointer-events: none;
	opacity: 0;
}

.logo-icon {
	margin: 0.5rem 1rem 0;
	height: 4rem;
	width: 3.75rem;
}

.nav-link,
.nav-link:hover {
	color: white !important;
	text-decoration: none;
}

.navbar-toggler {
	color: white !important;
	border: none !important;
}
.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.mobile-nav {
	display: none;
}

.nav-div {
	position: absolute;
	top: 0;
	width: 100%;
}

@media only screen and (max-width: 767px) {
	.navbar {
		font-size: 1.25rem;
		font-weight: 500;
	}
	.nav-link,
	.nav-link:hover {
		color: #fff !important;
		text-decoration: none;
	}
	.logo-icon {
		margin: 0.25rem 0.5rem 0;
		height: 2.25rem;
		width: 2rem;
	}
	.mobile-nav {
		display: block;
	}
	.laptop-nav {
		display: none;
	}
	.logo-icon {
		margin: 2rem;
		width: 3rem;
		height: 3.15rem;
	}
}
