.justify-para {
	text-align: justify;
	text-justify: inter-word;
}

.cause-logo {
	height: 6rem;
	width: 16rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: block;
}
img.cause-image {
	width: 90%;
	transition: transform .2s;
}

img.cause-image:hover {
	transform: scale(1.15);
}

.mobile-cause {
	display: none;
}

.text-bg {
	background-image: url('../../assets/LandingSections/BlackBG.png');
	background-repeat: no-repeat;
	background-position: center;
}

@media only screen and (max-width: 767px) {
	.cause-logo {
		height: 4rem;
		width: 10rem;
	}
	.mobile-cause {
		display: block;
	}
	.laptop-cause {
		display: none;
	}
}
