.theme-logo {
  height: 7rem;
  width: 17rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
}
img.theme-image {
  width: 90%;
  transition: transform 0.2s;
  margin-left: auto;
  margin-right: auto;
}

.mobile-cause {
  display: none;
}

@media only screen and (max-width: 767px) {
  .theme-logo {
    height: 5rem;
    width: 11rem;
  }
  .mobile-cause {
    display: block;
  }
  .laptop-cause {
    display: none;
  }
  .back-app1 {
    padding: 1rem 0 0.75rem 0 !important;
  }
}
